*{
  margin: 0;
  padding: 0;

}

@media screen and (max-device-width:1920px), screen and (max-width:1920px) {
header{
  width: 100%;
  height: 10%;
  overflow: hidden;

}
.wrapper{
margin: auto;
overflow: hidden;
width: 70%;
background: #fff;
}
header img{
  margin: 10px;
  float: left;
}
h1{
  float: left;
  margin: 200px 0px;
}

.izq{
  float: left;
  width: 50%;
  height: 300px;
  overflow: hidden;
}
.der{
float:left;

width: 50%;
height: 300px;
}
h3 {
  background: #0BB4D2;
  width: 100%;
}
footer{
  bottom:0;
  background: #000;
  margin: auto;
  width: 70%;
  height: 50px;
  overflow: hidden;
}
footer p{
  margin: auto;
  color: #fff;

}




}

@media screen and (max-device-width:640px), screen and (max-width:640px) {
  .wrapper{
    width: 100%;
    margin: 0;
  }
section {
width: 100%;
margin: auto;

}
footer{
  width: 100%;
}



}
